<h1>Welcome to the Barber Booking App!</h1>
<% if current_member %>
  <p>You are logged in as <%= current_member.email %></p>
<% else %>
  <p>You are not logged in.</p>
<% end %>

<div data-controller="calendar" id="calendar"></div>
